.app-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px;
    width: 1200px;  
}
  
.landing-text {
    font-size: 16px;
    color: #333;
    white-space: pre-wrap;
    list-style-type: none;
    margin-bottom: 20px;
}
